# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Optional: Ignore package-lock if using yarn
# package-lock.json
# yarn.lock 